.about-page-development-image {
    width: 500px;
}

.about-page-development-image-wrapper {
    padding-top: 50px;
    padding-left: 100px;
}

.about-page-developent-title {
    font-size: 60px;
    color: black;
}

.about-page-development-title-wrapper {
    padding-left: 200px;
}

.about-page-development-content {
    font-size: 30px;
    text-align: center;
}

.about-page-design-section {
    width: 50%;
    padding-left: 250px;
}

.about-page-design-title {
    font-size: 80px;
    color:white;
}

.about-page-design-title-wrapper {
    text-align: center;
}

.about-page-design-iamge {
    width: 450px;
    height: 350px;
}

.about-page-design-image-wrapper {
    padding-top: 50px;
}

.about-page-edit-images {
    width: 500px;
}

.about-page-edit-images-wrapper {
    padding-top: 50px;
    padding-left: 100px;
}

.about-page-edit-title {
    font-size: 60px;
    color:black;
}

.about-page-edit-title-wrapper {
    padding-top: 30px;
    padding-left: 350px;
}

.about-page-edit-words {
    font-size: 30px;
    color: black;
    padding-left: 50px;
}

.about-page-skills-icon {
    width: 50%;
    padding-left: 50px;
}

.about-page-skils-images {
    width: 50%;
    padding-right: 80px;
    padding-top: 30px;
}

.about-page-design-image {
    width: 600px;
    height: 400px;
}

.skills-title {
    text-align: center;
    padding-top: 50px;
}

.about-page-design-title-section {
    background-color: black;

}

.about-page-design-wrapper {
    display: flex;
}

.demo-reel {
    align-items: cneter;
    padding-left: 100px;
}










